export AGENTAHOLIC_SHOWCASE_MONOREPO_ROOT_PATH="$(pwd)"

export PM2_HOME=$AGENTAHOLIC_SHOWCASE_MONOREPO_ROOT_PATH/.pm2

PATH_add $AGENTAHOLIC_SHOWCASE_MONOREPO_ROOT_PATH/node_modules/.bin:$PATH
PATH_add $AGENTAHOLIC_SHOWCASE_MONOREPO_ROOT_PATH/bin

export AGENTAHOLIC_SHOWCASE_MONOREPO_ENV_FILE=$AGENTAHOLIC_SHOWCASE_MONOREPO_ROOT_PATH/.env.local

if [ -f $AGENTAHOLIC_SHOWCASE_MONOREPO_ENV_FILE ]; then
  export $(cat $AGENTAHOLIC_SHOWCASE_MONOREPO_ENV_FILE | sed 's/#.*//g' | xargs)
fi

# from https://github.com/direnv/direnv/issues/73#issuecomment-1192448475

export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  local oldpath="$PATH"
  mkdir -p "$alias_dir"
  if ! [[ ":$PATH:" == *":$alias_dir:"* ]]; then
    PATH_add "$alias_dir"
  fi

  echo "#!/usr/bin/env bash" > "$target"
  echo "PATH=$oldpath" >> "$target"
  echo "eval '$@ \$@'" >> "$target"
  chmod +x "$target"
}

if test -f "$AGENTAHOLIC_SHOWCASE_MONOREPO_ROOT_PATH/.envrc.local"; then
  source "$AGENTAHOLIC_SHOWCASE_MONOREPO_ROOT_PATH/.envrc.local"
fi
